.card{
    border: 1px solid whitesmoke ;
    border-radius: 15px ;
    padding: 40px;
    box-shadow: 0 5px 30px rgb(0 120 255 / 20%);
}

.mainContainer{
    width: 40%;
}

Button{
    width: 100%;
    background-color: #0179ff !important
}

Button:hover{
    background-color: #0462ce !important
}

@media only screen and (max-width: 768px) {
    .mainContainer{
        width: 100%;
    }

    .card{
        padding: 20px;
    }
}