#newsImage{
    margin: 0%;
}

#imageSection{
    display: flex;
    justify-content: end;
}

@media only screen and (max-width: 768px) {
    #newsImage{
        margin-top:10px;
        margin-bottom: 10px;
    }

    #imageSection{
        justify-content: start;
    }
}