#footerSection{
    background-color: #eaf4ff;
}

h4{
    font-size:1.125rem;
    font-weight:600;
    margin-bottom:1.25rem;
}

h6{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

h6:hover{
    color:#007bff;
}

@media only screen and (max-width: 768px) {
    h4{
        margin-top: 1.5rem;
    }
}
